<h5 class="header">All Projects</h5>

<% for(var slug in public.articles._data){ %>

	<% if(public.articles._data[slug].publish !== true) { continue; } %>
	<% if(public.articles._data[slug].tags.indexOf(current.path[0]) === -1) { continue; } %>

	<li>
		<a href="/articles/<%= slug %>">
			<%= public.articles._data[slug].title %>
		</a>
	</li>

<% }; %>