@import "settings";
@import "foundation";
@import "font-awesome";
@import "slick.scss";

html, body {

}

body{
	background: #222;
}

.has-tip, .has-tip:hover{
	border-bottom: none;
}

#page{
	padding: 20px 0;
	background: #fff;
}

#home_header{
	position: relative;
	top: -20px;
	padding: 15px 0 10px 0;
	background: $primary-color;
	color: #222;
	border-bottom: 3px solid #222;
}

#topnav a{
	font-weight: bold;
	letter-spacing: 1px;
}

#topnav h1 a{
	color: $primary-color;
	font-size: 120%;
	letter-spacing: 2px;
}

#topnav .contact_icons a{
	height: 45px;
}

#topnav .contact_icons a i.fa{
	line-height: 45px;
}

#topnav .contact_icons a i.fa-twitter{
	color: #64B5F6;
}

#topnav .contact_icons a i.fa-github{
	color: #999;
}

#topnav .contact_icons a i.fa-linkedin{
	color: #0D47A1;
}


#topnav .contact_icons a:hover i{
	color: #fff;
}

#topnav .mobile_contact_icons{
}

#topnav .mobile_contact_icons a{
	color: #fff;
	text-align: center;
}

#home_header img{
	max-height: 120px;
	// border-radius: 50%;
	box-shadow: 0 0 1px 2px #222;
}

#home_header h5 {
	font-size: 120%;
	font-weight: bold;
	color: #fff;
	letter-spacing: 2px;
	margin-bottom: 10px;
	text-shadow: 1px 1px 2px #000;
}

#home_header a{
	color: #fff;
	letter-spacing: 1px;
	font-weight: bold;
}

#home_header a:hover{
	color: #222;
	background: none;
	text-shadow: none;
}

#home_header .side-nav li a{
	text-align: right;
	padding: 2px;
}

#home_header .side-nav li i{
	margin-left: 10px;
}

#home_header p {
	font-size: 90%;
	font-weight: bold;
	color: #000;
}

p{
	font-size: 13px;
}

h3.header{
	background: #222;
	color: $primary-color;
	padding-left: 10px;
	letter-spacing: 2px;
	font-size: 95%;
	font-weight: bold;
	line-height: 28px;
	border-bottom: 2px solid #EF5350;
}

.blog_header{
	margin-bottom: 0;
}

.blog_header h5{
	margin: 0;
	line-height: 32px;
	font-size: 18px;
}

.blog_header a{
	line-height: 32px;
}

.blog_header span{
	font-size: 12px;
	line-height: 32px;
}

#who_i_am_slider{
	margin-bottom: 0;
}

#recent_projects_slider .project_link{
	background: #fff;
}

#recent_projects .project_link{
	cursor: pointer;
}

#footer{
	font-size: 12px;
	background: #222;
	padding: 10px 0;
	color: #fff;
}

#built_with_title{
	line-height: 80px;
	color: #fff;
	font-weight: bold;
	letter-spacing: 1px;
}

small{
	font-size: 70%;
}

#built_with_title_small{
	font-weight: bold;
	letter-spacing: 1px;
	padding-bottom: 5px;
}

#footer .built_with img{
	max-height: 48px;
}

#built_with .icon-bar img{
	min-height: 40px;
	min-width: 40px;
}

#what-i-do {
	background: none;
}

.grid {
    max-width: 1300px;
    margin: 0 auto;
    list-style: none;
    text-align: center;
}

.grid li {
    display: inline-block;
    width: 100%;
    margin: 0;
    text-align: left;
    position: relative;
}

.grid .figure {
	cursor: pointer;
    margin: 0;
    position: relative;
}

.grid .figure img {
    max-width: 100%;
    display: block;
    position: relative;
    background: #fff;
    width: 100%;
	padding: 15px;
}

.grid .figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0;
    background: #fff;
    border-radius: 10px;
    height: 100%;
    width: 100%;
}

.grid .figcaption span {
    position: absolute;
    bottom: 0;
    height: 30px;
    overflow: hidden;
    width: 100%;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    color: #222;
	-o-transition: 2s;
	-ms-transition: 2s;
	-moz-transition: 2s;
	-webkit-transition: 2s;
}

.grid .figure:hover span{
	color: #ff3737;
}

.cs-style-6 .figure img {
    z-index: 10;
    transition: transform 0.5s;
}

.no-touch .cs-style-6 .figure:hover img,
.cs-style-6 .figure.cs-hover img {
    transform: translateY(-20px) scale(0.7);
}

.slick-prev {
	top: 15px;
	left: 0;
}

.slick-next {
	top: 15px;
	right: 0;
}

.button.secondary {
	background: $primary-color;
	font-size: 80%;
	letter-spacing: 1px;
	border: 2px solid #222;
}

.button.secondary {
	background: $primary-color;
	font-size: 80%;
	letter-spacing: 1px;
	border: 2px solid #222;
	color: #fff;
}

.button.secondary:hover {
	color: #222;
	border-color: darken($primary-color, 70%);
	background: lighten($primary-color, 10%);
}

.button.secondary i {
	margin-right: 5px;
}

.breadcrumbs {
	background: $primary-color;
	border: 1px solid #222;
	border-radius: 0;
	font-weight: bold;
}

.breadcrumbs>*:before {
	color: #333;
}

.breadcrumbs a {
	color: #fff;
}
