html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

body {
	color: #222;
	background: #eaeaea;
	font: 16px arial, sans-serif;
}

.dispNone{
	display: none;
}

.clear{
	display: block;
	content: ' ';
	clear: both;
}

.contain{
	width: 1000px;
	margin: auto;
}

.floatLeft{
	float: left;
}

.floatRight{
	float: right;
}

.fontInset{
	color: #333;
	font-weight: bold;
	text-shadow: 1px 1px 2px #fff;
	letter-spacing: 1px;
}

/*****************************************\
	Roof
\*****************************************/

#sky{
	width: 100%;
	background: #3B5998;
	border-bottom: 1px solid #000;
}

#sky .fb-like{
	margin-left: 10px;
	margin-top: 5px;
	float: left;
}

#bgUpper{
	background: #f4f4f4; /* Old browsers */
	background: -moz-linear-gradient(top,  #f4f4f4 0%, #eaeaea 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f4f4), color-stop(100%,#eaeaea)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f4f4f4 0%,#eaeaea 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f4f4f4 0%,#eaeaea 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f4f4f4 0%,#eaeaea 100%); /* IE10+ */
	background: linear-gradient(top,  #f4f4f4 0%,#eaeaea 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */
}

#bgTop{
	background: #f6f6f6; /* Old browsers */
	background: -moz-linear-gradient(top,  #f6f6f6 0%, #cccccc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f6f6), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f6f6f6 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f6f6f6 0%,#cccccc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f6f6f6 0%,#cccccc 100%); /* IE10+ */
	background: linear-gradient(top,  #f6f6f6 0%,#cccccc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
}

#roof{
	padding-top: 10px;
	padding-bottom: 10px;
}

#logo{
	padding-right: 6px;
}

#ignite{
	margin-top: 27px;
}

#social{
	margin-top: 20px;
}

#social .fb-like{
	margin-left: 12px;
	margin-top: 16px;
}

#social img{
	height: 40px;
	margin-left: 20px;
	box-shadow: 0 0 1px 0 #ccc;
	opacity: .8;
}

#social img:hover{
	box-shadow: 0 0 4px 1px #fff;
	opacity: 1;
}

#social img:hover, #logo:hover, #ignite:hover{
	cursor: pointer;
}

h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, p:hover, span:hover;{
	cursor: default;
}

#title{
	line-height: 30px;
	height: 30px;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	text-align: right;
	letter-spacing: -1px;
}

#title span{
	font-size: 14px;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 1px;
}

#slogan{
	line-height: 30px;
	height: 30px;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	text-align: right;
	letter-spacing: 1px;
}

/*****************************************\
	Main Menu
\*****************************************/

#mainMenu{

}

#mainMenu a{
	padding: 0 10px;
	height: 32px;
	line-height: 32px;
	letter-spacing: 1px;
	font-size: 18px;
	margin-left: 20px;
}

#mainMenu a:hover{
	color: #000;
}

/*****************************************\
	Banner
\*****************************************/

#bgBanner{
	border: 1px solid #666;
	border-bottom: 0px;
	border-radius: 5px 5px 0 0;
	box-shadow: 0 -2px 8px 2px #f9f9f9;
}

#banner{
	height: 200px;
	border-radius: 5px 5px 0 0;
}

#banner img{
	border-radius: 5px 5px 0 0;
}

#bgTopbar{
	background: #3B5998;
	border: 1px solid #333;
}

#topbar{
	line-height: 60px;
	padding: 0 10px;
	box-shadow: inset 0 0 8px 0px #69f;
}

#mission{
	color: #fff;
	font-weight: bold;
	font-size: 18px;
	letter-spacing: 1px;
}

#btnFind{
	height: 38px;
	line-height: 38px;
	margin-top: 10px;
	padding: 0 20px;
}

/*****************************************\
	Page
\*****************************************/

#bgPage{
	box-shadow: 0 4px 12px 2px #f9f9f9;
	border-radius: 5px;
	margin-bottom: 10px;
}

#bgMain{
	background:#eee;
}

#main{
	border: 1px solid #666;
	border-top: 0px;
	box-shadow: inset 0 0 2px 1px #ccc;
}

/*****************************************\
	Right Sidebar
\*****************************************/

#mainRight{
	width: 300px;
	padding: 10px;
}

#mainRight img{
	box-shadow: 0 0 4px 1px #fff;
}

.fb-like-box{
	background: #fff;
}

/*****************************************\
	Middle
\*****************************************/

#mainMiddle{
	padding: 10px;
	padding-right: 0px;
	overflow: hidden;
}

/*****************************************\
	News
\*****************************************/

#news{
	background: #fff;
	border: 1px solid #aaa;
	border-top: 1px solid #315C99;
	border-radius: 0 0 5px 5px;
	box-shadow: 0 0 4px 1px #fff;
}

#news a{
	text-decoration: none;
	color: #039;
}

#news h1{
	color: #1C2A47;
	font-size: 13px;
	font-weight: bold;
	font-family: 'lucida grande', arial;
	background: #eceef3;
	padding: 0 10px;
	line-height: 32px;
	border-bottom: 1px solid #C6CEDD;
}

#news .clip{
	padding: 10px;
	font-family: 'lucida grande', arial;
	font-size: 14px;
	padding-bottom: 20px;
	border-bottom: 1px solid #ccc;
}

#news .image{
	float: left;
	margin-right: 20px;
	width: 180px;
	text-align: center;
}

#news h2{
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 1px;
	color: #3B5998;
	text-shadow: 1px 1px 2px #fff;
	font-family: 'lucida grande', arial;
}

#news .title24{
	font-size: 24px;
}


#news .clipDate{
	font-size: 18px;
	line-height: 32px;
	font-weight: bold;
	letter-spacing: 1px;
	text-shadow: 1px 1px 2px #fff;
	font-family: 'lucida grande', arial;
}

#news p{
	letter-spacing: 1px;
	line-height: 20px;
	text-shadow: 1px 1px 2px #fff;
}

/*****************************************\
	Chart 1
\*****************************************/

#chart1{
	margin-top: 10px;
	margin-left: 5px;
}

/*****************************************\
	Events Calendar
\*****************************************/

#calendar {
	height:270px;
	width:294px;
	position: relative;
}

#theday {
	background-color:#3B5998;
	color:#FFFFFF;
	font-size:24px;
	font-weight: bold;
	letter-spacing: 1px;
	height:40px;
	line-height: 40px;
	margin-top: 0px;
	text-shadow:0 0 5px #DDDDDD;
	width:300px;
	text-indent: 10px;
	float: left;
	box-shadow: inset 0 0 6px 0px #69f;
	display: none;
}
 
#theday span {
	font-size:16px;
	line-height: 40px;
	display: block;
	float: right;
	margin-right: 160px;
}

#calroot .hasEvent{
	-moz-box-shadow: inset 0 0 2px 1px #000;
	-webkit-box-shadow: inset 0 0 2px 1px #000;
	box-shadow: inset 0 0 2px 1px #000;
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #FFEC64), color-stop(1, #FFAB23) );
	background: -moz-linear-gradient( center top, #FFEC64 5%, #FFAB23 100% );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23');
	background-color: #FFEC64;
}

#calroot #calcurrent.hasEvent{
	background: #498CE2;
}

/*****************************************\
	Tooltips
\*****************************************/

.tooltip {
	display: none;
	z-index: 999;
	position: relative;
	left: 0 !important;
	top: 0 !important;
	margin-left: -252px;
	margin-top: -48px;
    background: url(../img/calTooltip.png) center center no-repeat;
    height: 150px;
    width: 270px;
    color:#000;
}

.tooltip span{
	display: block;
	padding: 16px;
	padding-bottom: 2px;
	font-size: 16px;
	font-weight: bold;
	width: 220px;
}

.tooltip p{
	padding-left: 16px;
	width: 220px;
	line-height: 20px;
	height: 80px;
	overflow: hidden;
}

/*****************************************\
	Footer
\*****************************************/

#footer{
	line-height:18px;
	letter-spacing: 1px;
	font-weight: bold;
	font-size: 14px;
	color: #666;
	text-shadow: 1px 1px 0px #fff;
	text-align: center;
	margin-bottom: 30px;
}

/*****************************************\
	Buttons
\*****************************************/

.btnGreen {
	-moz-box-shadow:inset 0px 1px 0px 0px #caefab;
	-webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
	box-shadow:inset 0px 1px 0px 0px #caefab;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811) );
	background:-moz-linear-gradient( center top, #77d42a 5%, #5cb811 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811');
	background-color:#77d42a;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #268a16;
	display:inline-block;
	color:#003300;
	font-weight:bold;
	text-decoration:none;
	text-shadow:1px 1px 0px #aade7c;
	text-align: center;
}.btnGreen:hover {
	cursor: pointer;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a) );
	background:-moz-linear-gradient( center top, #5cb811 5%, #77d42a 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#77d42a');
	background-color:#5cb811;
}.btnGreen:active {
	position:relative;
	top:1px;
}


.btnYellow {
	-moz-box-shadow:inset 0px 1px 0px 0px #fff6af;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fff6af;
	box-shadow:inset 0px 1px 0px 0px #fff6af;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23) );
	background:-moz-linear-gradient( center top, #ffec64 5%, #ffab23 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23');
	background-color:#ffec64;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px inset #000;
	display:inline-block;
	color:#333333;
	font-weight:bold;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffee66;
}.btnYellow:hover {
	cursor: pointer;
	border:1px inset #ff9933;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64) );
	background:-moz-linear-gradient( center top, #ffab23 5%, #ffec64 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64');
	background-color:#ffab23;
}.btnYellow:active {
	position:relative;
	top:1px;
}

.btnBlue {
	-moz-box-shadow:inset 0px 1px 0px 0px #bee2f9;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bee2f9;
	box-shadow:inset 0px 1px 0px 0px #bee2f9;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #63b8ee), color-stop(1, #468ccf) );
	background:-moz-linear-gradient( center top, #63b8ee 5%, #468ccf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf');
	background-color:#63b8ee;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #3866a3;
	display:inline-block;
	color:#14396a;
	font-weight:bold;
	text-decoration:none;
	text-shadow:1px 1px 0px #7cacde;
}.btnBlue:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #468ccf), color-stop(1, #63b8ee) );
	background:-moz-linear-gradient( center top, #468ccf 5%, #63b8ee 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#468ccf', endColorstr='#63b8ee');
	background-color:#468ccf;
}.btnBlue:active {
	position:relative;
	top:1px;
}