<div class="row">

	<div class="large-12 columns large-pull-right">

		<ul class="breadcrumbs">
			<li><a href="/">Home</a></li>

			<% if(current.source !== "index") { %>
				<li class="current"><a href="/projects">Projects</a></li>
			<% } %>
		</ul>

		<h4>Latest Projects</h4>

		<%- partial("partials/_articles") %>

	</div>

</div>
