<div class="row">
	
	<div class="large-8 columns large-pull-right">

		<ul class="breadcrumbs">
			<li><a href="/">Home</a></li>

			<% if(current.source !== "index") { %>
				<li class="current"><a href="/projects">Projects</a></li>
			<% } %>
		</ul>

		<h4>Latest Projects</h4>

		<%- partial("partials/_articles") %>
		
	</div>

	<div class="large-4 columns">
		<%- partial("partials/_projects_sidebar") %>
	</div>
	
</div>