<p>
	<a href="http://themergency.com/footable/" target="_blank">FooTable</a> is a fantastic jQuery plugin that create searchable, sortable, responsive and themeable tables. When I began using FooTable it handled large amounts of data swiftly, but did not paginate. The software was written in a very extendable fashion so I submitted a pull request with the pagination plugin and demo, and received a <a href="https://github.com/bradvin/footable#thanks" target="_blank">thanks @awc737</a>. I highly recommend FooTable for dynanmic and responsive HTML and JavaScript tables.
</p>